
@mixin btn-fill($color) {
    border-color: $color;
    color: $color;
    overflow: hidden;
    position: relative;
    z-index: 1000;
    &:after {
        z-index: 1;
        position: absolute;
        content: ' ';
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(355,355,355,0.4);
        transform: translateY(100%);
        transition: transform 0.25s;
        transition-timing-function: cubic-bezier(1,.03,.58,.95);
    }
    &:hover:after {
        transform: translateY(0);
    }
}