/*
STYLE SHEET FOR PORTFOLIO
SCSS Variables
Ver 1.0.0.
Dev: Melinda Hernandez
*/

$light-gray : #333;
$foxy-orange : #f99d2b;
$cream : #f8eed5;
$purple : #ba6afa;
$purple-transparent : rgba(186,106,250,0.6);
$minty-aqua : #b9fdd9;


